body {
    background-image: url(./bbk-logo.svg);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 3% 96%;
}

/* from Tammo's pandoc_test.css */

.reveal h1 { font-size: 1.2em; } 


@media screen and (max-width: 4000px), (max-height: 6000px) {
    .reveal .slides {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 900px), (max-height: 600px) {
    .reveal .slides {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 700px), (max-height: 400px) {
    .reveal .slides {
        font-size: 0.75em;
    }
}